<section class="hero-container">
        <div class="hero" ng-click="goTo('/services/0/product/0')">
            <img class="img-responsive" ng-src="{{slideshow[0].lg[0]}}" alt="" />
            <h3>{{slideshow[0].description}}</h3>
            <button class="btn btn-primary menu-item-cta-btn" ng-click="goTo('/services/0/product/1')">
                    Get inspired <span class="btn-caret"></span>
                </button>
        </div>
        <div class="hero" ng-click="goTo('/services/1/product/0')">
            <img class="img-responsive" ng-src="{{slideshow[1].lg[0]}}" alt="" />
            <h3>{{slideshow[1].description}}</h3>
            <button class="btn btn-primary menu-item-cta-btn" ng-click="goTo('/services/1/product/1')">
                    Start here <span class="btn-caret"></span>
                </button>
        </div>
        <div class="hero" ng-click="goTo('/services/2/product/0')">
            <img class="img-responsive" ng-src="{{slideshow[2].lg[0]}}" alt="" />
            <h3>{{slideshow[2].description}}</h3>
            <button class="btn btn-primary menu-item-cta-btn" ng-click="goTo('/services/2/product/1')">
                    See it now <span class="btn-caret"></span>
                </button>
        </div>
</section>
<!--secondary menu partial start -->
<section class="secondary-menu-container">
    <!-- turn these into angular partials or ng-repeat this?-->
    <div class="col-xs-12 col-sm-4">
        <nav class="secondary-menu-item">
            <figure class="secondary-menu-fg" ng-click="goTo('/services/0/product/1')">
                <img src="http://placehold.it/720x265" alt="" class="secondary-menu" />
                <div class="btn btn-primary secondary-menu-item-primary-btn">
                    <h2>Indoor</h2>
                </div>
                <div class="btn btn-primary secondary-menu-item-primary-btn secondary-menu-item-secondary-btn">
                    <p>
                        Kitchen and bath, staircases, entryways and fireplaces.
                    </p>
                </div>
            </figure>
            <div class="visible-xs-block">
                <h3>So you have this great idea... Let us help you set it in stone.</h3>
                <button class="btn btn-primary menu-item-cta-btn" ng-click="goTo('/services/0/product/1')">
                    Get inspired <span class="btn-caret"></span>
                </button>
            </div>
        </nav>
    </div>
    <!-- turn these into angular partials -->
    <div class="col-xs-12 col-sm-4">
        <nav class="secondary-menu-item">
            <figure class="secondary-menu-fg" ng-click="goTo('/services/1/product/1')">
                <img src="http://placehold.it/720x265" alt="" class="secondary-menu" />
                <div class="btn btn-primary secondary-menu-item-primary-btn">
                    <h2>Outdoor</h2>
                </div>
                <div class="btn btn-primary secondary-menu-item-primary-btn secondary-menu-item-secondary-btn">
                    <p>
                        Decks, swimming pools, fountains and driveways.
                    </p>
                </div>
            </figure>
            <div class="visible-xs-block">
                <h3>Step-by-step, we'll walk you through the process of turning your living space into a dream home.</h3>
                <button class="btn btn-primary menu-item-cta-btn" ng-click="goTo('/services/1/product/1')">
                    Start here <span class="btn-caret"></span>
                </button>
            </div>
        </nav>
    </div>
    <!-- turn these into angular partials -->
    <div class="col-xs-12 col-sm-4">
        <nav class="secondary-menu-item">
            <figure class="secondary-menu-fg" ng-click="goTo('/services/2/product/1')">
                <img src="http://placehold.it/720x265" alt="" class="secondary-menu" />
                <div class="btn btn-primary secondary-menu-item-primary-btn">
                    <h2>Fine Detail</h2>
                </div>
                <div class="btn btn-primary secondary-menu-item-primary-btn secondary-menu-item-secondary-btn">
                    <p>
                        Stone and tile, fabrication and custom builds.
                    </p>
                </div>
            </figure>
            <div class="visible-xs-block">
                <h3>Quality workmanship down to the finest details.</h3>
                <button class="btn btn-primary menu-item-cta-btn" ng-click="goTo('/services/2/product/1')">
                    See it now <span class="btn-caret"></span>
                </button>
            </div>
        </nav>
    </div>
    <!--secondary menu partial -->
</section>
<!-- secondary-menu-container -->


<script type="text/javascript">
    $(document).ready(function(){
          $('.hero-container').slick({
              dots:true,
              arrows:false,
              autoplay:true,
              autoplaySpeed:3500,
              speed:2500,
              fade:true,
          })
          .on('afterChange', function( e, slick, currentSlide ) {
            console.log("change");
        });
    });
    // On before slide change
$('.hero-container').on('beforeChange', function(event, slick, currentSlide, nextSlide){
  console.log(nextSlide + " --------");
});
  </script>