<!-- turn these into angular partials or ng-repeat this?-->
<section class="col-xs-12 col-sm-4">
	<div class="secondary-menu-item">
		<div class="secondary-menu-item-background">
			<div class="secondary-menu-item-primary-btn btn btn-primary">
				<h2>Indoor</h2>
			</div>
		</div>
		<h3>So you have this great idea... Let us help you set it in stone.</h3>
		<button class="menu-item-cta-btn btn btn-primary">
			Get inspired <span class="btn-caret"></span>
		</button>
	</div>
</section>
<!-- turn these into angular partials -->
<section class="col-xs-12 col-sm-4">
	<div class="secondary-menu-item">
		<div class="secondary-menu-item-background">
			<div class="secondary-menu-item-primary-btn btn btn-primary">
				<h2>Outdoor</h2>
			</div>
		</div>
		<h3>Step-by-step, we’ll walk you through the process of turning your living space into a dream home.</h3>
		<button class="menu-item-cta-btn btn btn-primary">
			Start here <span class="btn-caret"></span>
		</button>
	</div>
</section>
<!-- turn these into angular partials -->
<section class="col-xs-12 col-sm-4">
	<div class="secondary-menu-item">
		<div class="secondary-menu-item-background">
			<div class="secondary-menu-item-primary-btn btn btn-primary">
				<h2>Fine Detail</h2>
			</div>
		</div>
		<h3>Quality workmanship down to the finest details.</h3>
		<button class="menu-item-cta-btn btn btn-primary">
			See it now <span class="btn-caret"></span>
		</button>
	</div>
</section>
<!--secondary menu partial -->