<section class="portfolio-container">
    <header>
        <h2 class="portfolio-title">{{menu[servicesId].type}}</h2>
    </header>
    <!-- main image -->
    <div class="col-xs-12 col-sm-7 col-md-7">
        <figure class="main-fg" ng-swipe-left="previous()" ng-swipe-right="next()" data-featherlight="{{currentHero}}">
            <img class="img-responsive main" ng-src="{{currentHero}}" alt="hero" />
            <figcaption class="caption main-caption">
                {{ services[servicesId].projects[productId].descriptions[pieceId].description }}
            </figcaption>
        </figure>
        <article class="portfolio-description">
            <p>
                  <span class='emphasize'>{{ services[servicesId].projects[productId].title }} </span> {{ services[servicesId].projects[productId].description }} 
                  <a class="details-link" ng-hide="getDetails()" ng-click="detailsClick()">See this in fine detail...</a>
            </p>
            <div class="btn-portfolio-container">
                <button class="btn btn-primary btn-portfolio" ng-click="previous()">
                    &lt; previous
                </button>
                <button class="btn btn-primary  btn-portfolio" ng-click="next()">
                    next &gt;
                </button>
            </div>
        </article>
    </div>
    <!-- main thumbs -->
    <!--thumbs-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  last">
        <ul class="thumb-list">
            <li class="thumb-list-item" ng-repeat=" (key,thumb) in heroes" ng-click="thumbClick(thumb.index)">
                <figure class="thumb-fg" ng-class="{thumbfgdisabled: key == pieceId}">
                    <img ng-src="{{thumb.lgThumb}} " alt="{{thumb.desc[key].description}}" class="img-responsive thumb" />
                    <figcaption class="caption thumb-caption" ng-class="{thumbcaptiondisabled: key == pieceId}">
                         {{thumb.desc[key].description}}
                    </figcaption>
                </figure>
            </li>
        </ul>
        <!-- thumb-list -->
        <aside class="more-container">
            <header class="portfolio-more">
                <h4>More like this:</h4>
            </header>
            <ul class="more-list">
                <li class="more-list-item" ng-repeat="(key,thumb) in smThumbs">
                    <figure class="more-fg" ng-click="goTo('services/{{servicesId}}/product/{{thumb.index}}')">
                        <img ng-src="{{thumb.thumb}}" alt="" class="img-responsive thumb more-thumb" />
                        <figcaption class="caption more-caption">
                            <span class="emphasize"># {{key+1}}</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </aside>
    </div><!--col-xs-12 col-sm-6 col-md-5-->

</section><!--portfolio-container-->