<section class="portfolio-container">
    <header>
        <h2 class="portfolio-title">Indoor</h2>
    </header>
    <!-- main image -->
    <div class="col-xs-12 col-sm-6">
        <figure class="main-fg">
            <img class="img-responsive main" src="http://placehold.it/720x370" />
            <figcaption class="caption main-caption">
                Bathroom remodel. Tile and Fixtures. Front view.
            </figcaption>
        </figure>
        <article class="portfolio-description">
            <p>
                Bacon ipsum dolor amet bresaola sirloin cupidatat ullamco kevin <span class="emphasize">kielbasa porchetta duis</span> tempor lorem. Tempor bacon flank, dolore tongue pork belly velit esse. Kielbasa meatloaf t-bone, voluptate capicola velit qui laboris sirloin brisket aute tenderloin.
            </p>
            <div class="btn-portfolio-container">
                <button class="btn btn-primary btn-portfolio">
                    &lt; previous
                </button>
                <button class="btn btn-primary  btn-portfolio">
                    next &gt;
                </button>
            </div>
        </article>
    </div>
    <!-- main image -->
    <!--thumbs-->
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-lg-offset-1">
        <ul class="thumb-list">
            <li class="thumb-list-item">
                <figure class="thumb-fg">
                    <img src="http://placehold.it/720x100" alt="" class="img-responsive thumb" />
                    <figcaption class="caption thumb-caption">
                        Bathroom remodel. Tile and Fixtures. Side view.
                    </figcaption>
                </figure>
            </li>
            <li class="thumb-list-item">
                <figure class="thumb-fg">
                    <img src="http://placehold.it/720x100" alt="" class="img-responsive thumb" />
                    <figcaption class="caption thumb-caption">
                        Bathroom remodel. Tile and Fixtures. Side view.
                    </figcaption>
                </figure>
            </li>
            <li class="thumb-list-item">
                <figure class="thumb-fg">
                    <img src="http://placehold.it/720x100" alt="" class="img-responsive thumb" />
                    <figcaption class="caption thumb-caption">
                        Bathroom remodel. Tile and Fixtures. Side view.
                    </figcaption>
                </figure>
            </li>
        </ul><!-- thumb-list -->
        <aside class="more-container">
            <header class="portfolio-more">
                <h4>More like this:</h4>
            </header>
            <ul class="more-list">
                <li class="more-list-item">
                    <figure class="more-fg">
                        <img src="http://placehold.it/100x100" alt="" class="img-responsive thumb more-thumb" />
                        <figcaption class="caption more-caption">
                            ...
                        </figcaption>
                    </figure>
                </li>
                <li class="more-list-item">
                    <figure class="more-fg">
                        <img src="http://placehold.it/100x100" alt="" class="img-responsive thumb more-thumb" />
                        <figcaption class="caption more-caption">
                            ...
                        </figcaption>
                    </figure>
                </li>
                <li class="more-list-item">
                    <figure class="more-fg">
                        <img src="http://placehold.it/100x100" alt="" class="img-responsive thumb more-thumb" />
                        <figcaption class="caption more-caption">
                            ...
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </aside>
    </div><!--col-xs-12 col-sm-6 col-md-5-->

</section><!--portfolio-container-->