@include border-box-sizing;
//
//FONT STYLES=========================================== FONT STYLES
//
@font-face {
    font-family: 'bankgothic_lt_md';
    src: url('../../fonts/bankgothic_md_bt_medium-webfont.eot');
    src: url('../../fonts/bankgothic_md_bt_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bankgothic_md_bt_medium-webfont.woff2') format('woff2'),
         url('../../fonts/bankgothic_md_bt_medium-webfont.woff') format('woff'),
         url('../../fonts/bankgothic_md_bt_medium-webfont.ttf') format('truetype'),
         url('../../fonts/bankgothic_md_bt_medium-webfont.svg#bankgothic_lt_md') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bankgothic_lt_bt';
    src: url('../../fonts/bankgothic_lt_bt_light-webfont.eot');
    src: url('../../fonts/bankgothic_lt_bt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bankgothic_lt_bt_light-webfont.woff2') format('woff2'),
         url('../../fonts/bankgothic_lt_bt_light-webfont.woff') format('woff'),
         url('../../fonts/bankgothic_lt_bt_light-webfont.ttf') format('truetype'),
         url('../../fonts/bankgothic_lt_bt_light-webfont.svg#bankgothic_lt_bt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand-light';
    src: url('../../fonts/quicksand-light-webfont.eot');
    src: url('../../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../../fonts/quicksand-light-webfont.woff') format('woff'),
         url('../../fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('../../fonts/quicksand-light-webfont.svg#quicksand-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand-regular';
    src: url('../../fonts/quicksand-regular-webfont.eot');
    src: url('../../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../../fonts/quicksand-regular-webfont.svg#quicksand-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html
{
  font-size:62.5%;
}
body
{
  font-family:$main-font-bold!important;
  font-size:10px; /*fallback*/
  font-size:1.0rem; /* 10/$rembase */
  line-height: 1.542; /* $line-height-base ÷ $fontbase */
  overflow-x:hidden;
  color: $white;
  background: $grey4;  
  @include background(image-url('pattern-2cns.png'));
}

//
//MAIN STYLES=========================================== MAIN STYLES//
//
.container-fluid//reset
{
  padding:0;
}
//======================================================
//============ TYPOGRAPHY ==============================
//Font Size: 20 Line Height: 33 Content Width: 1170 Approx. CPL: 133 
//http://modularscale.com/scale/?px1=20&px2=47&ra1=1.618&ra2=0
//======================================================
/*
 * $rembase:10px;
 * $line-height-base:33
 */
h1, h2, h3, h4
{
  text-rendering:optimizeLegibility;
}
h2, h3, h4
{
  font-family:$main-font;
}
h1
{
  font-size:$h1-font-size; /*fallback*/
  font-size:$h1-font-size-rem; /*52/$rembase*/
  line-height: $h1-line-height; /* $line-height-base ÷ 52*/
}
h2
{
  font-size:$h2-font-size; 
  font-size:$h2-font-size-rem;
  line-height:$h2-line-height;
}
h3
{
  font-size:$h3-font-size; 
  font-size:$h3-font-size-rem;
  line-height:$h3-line-height;
}
h4
{
  font-size:$h4-font-size; 
  font-size:$h4-font-size-rem;
  line-height:$h4-line-height;
}
p
{
  font-size:$p-font-size; 
  font-size:$p-font-size-rem;
  line-height:$p-line-height;
}

//
//LINK STYLES=========================================== LINK STYLES
//
//
//LINK STYLES=========================================== LINK STYLES
//
a, .link
{
  @include text-link-style($black, underline, $grey1, none);
  &:active, &:hover, &focus
  {
    outline: 0;
  }
}

section, nav, article, aside, header, footer
{
  @include clearfix;
}

nav, article, aside
{
  margin-bottom:$default-space-lg;
}
//add the shadow to base layers of elements
section, .main-content, .secondary-menu-item
{
  @include drop-shadow(rgba(8, 8, 8, .2) 1px 1px 3px, rgba(8, 8, 8, .2) -1px 1px 3px, rgba(8, 8, 8, .2) 1px -1px 3px, rgba(8, 8, 8, .2) -1px -1px 3px );
  //@include box-shadow(rgba(8, 8, 8, .2) 0 0 25px, rgba(8, 8, 8, .2) 0 0 3px 1px inset);
}

header
{
  font-family:'bankgothic_lt_md';
}

nav
{
  font-family:$main-font-bold;
  position:relative;
  /*
  @media (min-width:970px)
  {
    float:right;
    height:26px; //restrict btn border height
    margin-top:$default-space-lg+3;//auto
  }
  */
}

section
{
  @include background($grey4);
  margin-top:$default-space-lg;
  padding-left:$default-space-lg;
}

input, textarea
{
 @include background($grey4);
 width:390px;
 max-width:390px;
}
      
textarea
{
  height:300px;
  max-height:300px;
}

figure
{
  position:relative;
  overflow:hidden;
  cursor:pointer;
}

figcaption
{
  position:absolute;
  bottom:$default-space-lg;
  left:0;
  padding-left:$default-space-lg;
  font-size:17px;
  font-size:1.7rem;
  @include single-text-shadow;
  @include background(rgba(8, 8,8, .6));
  @include animateAll();
  width:100%;
}

li
{
 position:relative;
 float:left;
}

//--------TEXT ONE OFFS------------------------------------------
//----------------------------
//--------TEXT ONE OFFS -----------------------------------------

.emphasize
{
  color:$orange1;
}

.quotes //should be 129 % of base font size
{
  font-size:129%;
  font-family:$secondary-font;
  //<span class="quotes">&ldquo;</span>
}

.contact-required
{
  color:$brown1;
  font-size:11.096px;
  font-size:1.109rem;
}

.form-item-hint
{
  font-size:12px;
  font-size:1.2rem;
  color:$grey4;
  padding:$default-space-sm;
  //display:none; //only show on error
  //position:absolute;
  //top:0;
  @include background($red2);
  @include animateAll();
}
//--------TEXT ONE OFFS------------------------------------------
//----------------------------
//--------TEXT ONE OFFS -----------------------------------------

.btn-caret
{
  display:inline-block;
  font-family:$main-font;

  &:after
  {
    content:">";
  }
}

//---------NGANIMATE------------------------------------------------
//--------------------------
//------------------------------------------------------------------

.ng-hide, .ng-show, .ng-enter, .ng-leave
{
-webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.ng-hide
{
    @include opacity(0);
}

.ng-show
{
    @include opacity(1);
}

#partials.ng-enter 
{ 
    @include opacity(0);
}   /* starting animations for enter */

#partials.ng-enter.ng-enter-active 
{
    @include opacity(1);
} /* terminal animations for enter */

#partials.ng-leave 
{
    @include opacity(1);
} /* terminal animations for enter */
#partials.ng-leave.ng-leave-active
{
    @include opacity(0);
} /* terminal animations for enter */
