.mobile-menu
{
  @include clearfix;
  font-size:20px; //for easy touch
  .mobile-list-menu
  {
    .mobile-list-menu-item
    {
      display:block;
       float:left;
       padding-right:$default-space-lg+2;
       a
       {
         color:$dk-grey;
         &:hover
         {
           color: $orange;
           @include animate(color);
         }
       }
    }
  }
}

.contact-phone-link
{
  color:$dk-grey;
  text-decoration:underline;//remove for larger screens
  @include animate(color);
  &:hover
  {
    color:$orange;
    text-decoration:none;
    @include animate(color);
  }
}

.menu-container
{
  margin-top:-13px; //hlf the height of parent
}
.menu-button
{
  cursor:pointer;
  @include animate(color);
  display:box;
  float:left;
  padding:7px;
  //padding:7px 17px; large screen
  border-right:1px solid orange;
  
  &:last-child
  {
    border-right:none;
  }
  &:hover a, &:active a
  {
    color:$dk-grey;
    @include animateAll();
  }
  h3
  {
    font-size:17px;
    font-size:1.7rem;
    white-space: nowrap;
    //font-size:20px; large screen
    //font-size:2rem;
    a
    {
      color:#888686;
      &:hover
      {
        color:$dk-grey;
        text-decoration:none;
        @include animate(color);
      }//hover
      .active
      {
        color:$dk-grey;
      }//active
    }//a
  }//h3
}
