.header-nav-container
{
    height:65px; //75 large screen
    @media (min-width:825px)//necessary evil d its thang
      {
          height:70px; //75 large screen
      }
}
.hero-container
{
  margin:0;
  padding:0; //resets
}

.bio-container
{
  padding-top:0;
}
