.header-nav-container
{
    height:65px; //75 large screen
    @media (min-width:825px)//necessary evil d its thang
      {
          height:70px; //75 large screen
      }
}
.hero-container
{
  margin:0;
  padding:0; //resets
    
    .cta-container
    {
        @include background(rgba(0, 0, 0, .4));
        position:absolute;
        left:15%;
        bottom:17px;
        width:280px;
        padding:$default-space-md $default-space-lg;
        
        @media (min-width:1170px)//necessary evil d its thang
          {
              width:350px;
              bottom:25px;
          }
    }
    h3
    {
        font-size:$p-font-size; 
        font-size:$p-font-size-rem;
      line-height:$p-line-height;
        padding:$default-space-md $default-space-lg $default-space-md  0;
        @include text-shadow(rgba(black, 0.6) 2px 2px 5px);
        
        @media (min-width:1170px)//necessary evil d its thang
        {
            font-size: 24px;
            font-size: 2.4rem;
            line-height:1;
        }
    }
    
    .menu-item-cta-btn
    {
      margin-top:0;
        float:left;
        padding:$default-space-sm 0;
        
        @include box-shadow(rgba(black, 0.6) 2px 2px 5px);
    }
    
    //slick styles override
    .slick-dots
    {
        display: block;
      position: absolute;
      bottom: 12px;
      left: 50%;
        
        li
        {
            position: relative;
          display: inline-block;
          width: 7px;
          height: 7px;
          margin: 0 5px;
          padding: 0;
          cursor: pointer;
            
            button
            {
                font-size: 0;
              line-height: 0;
              display: block;
              width: 7px;
              height: 7px;
              padding: 7px;
                border:none;
                opacity:.4;
                @include background($grey2);
                @include border-radius(50%);
            }
        }
        
        li.slick-active
        {
            button
            {
                opacity:1;
                @include background($red2);
            }        
        }
    }
}

.secondary-menu-container
{
    margin-top:0; //reset
}

.portfolio-container, .contact-container
{
    margin-top: 85px
}

.bio-container
{
  padding-top:0;
}
