//--------TOP TO BOTTOM containers-----------------
//----------------------
//--------TOP TO BOTTOM containers-----------------
.header-nav-container, .footer-container
{
  @include background(rgba(161, 161, 161, .7));
}

.header-nav-container
{
  height:100%; //75 large screen
  padding-left:$default-space-lg;
  margin-top:0;
}

.menu-container
{
  margin-top:-13px; //hlf the height of parent
}

.secondary-menu-container, .contact-container, .bio-container, .portfolio-container
{
  padding-bottom:$default-space-lg;
  position:relative;
}

.contact-container, .bio-container
{
  @include clearfix;
  color:$black;
  font-size:17px;
  font-size:1.7rem;
  padding-top:$default-space-lg;
  @media (min-width:$md-sm-screen)//necessary evil BS doesn't give me the BPs i need
    {
      font-size:$p-font-size;
      font-size:$p-font-size-rem;
    }
}

.portfolio-container
{
  padding-top:$default-space-lg;
  margin-right:$default-space-lg;
}

//--------nested molecules-----------------
//----------------------
//--------nested molecules----------------- 
.btn //overwrite BS
{
  @include border-radius(0px 0px);
  font-size:20px;
  @include animate(background);
}

.btn-primary //overwrite BS
{  
  @include background(rgba(8, 8, 8, .8));
  border:none;
  color:$grey4;
  &:active, &:hover, &:focus,
  {
    @include background(rgba(8, 8, 8, 1));
    @include animate(background);
  }
}

.secondary-menu-item-primary-btn, .menu-item-cta-btn
{
  width:160px;
  max-width:160px;
  float: right;
  @media (min-width:$sm-screen)//necessary evil BS doesn't give me the BPs i need
    {
      width:200px;
      max-width:200px;
    }
}

.secondary-menu-item-primary-btn
{
  height: 100%;
      
  h2
  {
    height:250px;
    line-height:250px;
    font-size:27px;
    font-size:2.7rem;
    @media (min-width:$sm-screen)//necessary evil BS doesn't give me the BPs i need
    {
      font-size:$h3-font-size;
      font-size:$h3-font-size-rem;
    }
  }
}//.second-menu-item-primary-btn
    
.menu-item-cta-btn, .btn-submit
{
  @include background(rgba(8, 8, 8, 1));
  border:none;
}

.menu-item-cta-btn
{
  margin-top: 11px; //bc it should match the text's lower case top
  padding:$default-space-md 0;
  &:active, &:hover, &:focus,
  {
    @include background($orange2);
    @include animate(background);
  }
}

.text-content
{
  margin-right:$default-space-md;
}

.btn-submit
{
  &:active, &:hover, &:focus,
  {
    @include background($grey2);
    @include animate(background);
  }
}

.bio-title, .contact-title, .portfolio-title, .portfolio-more
  {
    //display:inline-block;
    font-family:$main-font-bold;
    color:$black;
    line-height:1;
    border-bottom:1px solid $grey3;
    margin-bottom:24px;
    width:390px;
}

.portfolio-title
{
  margin-left:$default-space-lg;
}

.portfolio-description, .portfolio-more
{
  margin-top:$default-space-md;
  color:$grey1;
}

.thumb-list
{
  .thumb-list-item
  {
    margin-bottom:$default-space-md;
    &:last-child
    {
      margin-bottom:0;
    }
    .thumb-caption
    {
      font-size:13px;
      font-size:1.3rem;
      bottom:0;
    }//thumb fg
  }//thumb listitem
}//thumb list

.main-fg, .thumb-fg, .more-fg
{
  &:hover >.caption, &:focus > .caption, &:active > .caption
  {
    @include animateAll();
    @include background(rgba(8, 8,8, 1));
    bottom:0;
  }
}

.thumb-fg
{
  &:hover >.thumb-caption, &:focus > .thumb-caption, &:active > .thumb-caption
  {
    bottom:$default-space-lg;
  }
}

.more-fg
{
  max-width:100px;
}

.portfolio-more
{
  margin-bottom:0;
  margin:$default-space-md 0;
}
