.mobile-menu
{
  float:none;//reset
  margin-top:0;//reset
  font-size:$p-font-size; //for easy touch
  font-size:$p-font-size-rem; //for easy touch
  .mobile-list-menu
  {
    .mobile-list-menu-item
    {
      display:block;
       float:left;
       padding-right:$default-space-lg+2;
       a
       {
         @include text-link-style($grey1, none, $grey5, underline);
       }
    }
  }
}

.company-name h1
  {
    color:$red2;
    font-size:66px;
    font-size:6.6rem;
    line-height:.8;
    a
    {
      color:inherit;
      text-decoration:none;
    }
    .company-co
    {
      color:$black;
      font-size:48px;
      font-size:4.8rem;
    }//company co
}//company-name
.company-info
{
  @include clearfix;
  padding-bottom:$default-space-md;
  //more line-height or top padding for larger screen sizes
   
    .contact
  {
    float:left;
    padding:0 6px 0 0;
    
    h3
    {
    font-size:17px;
    font-size:1.7rem;
    font-family:'bankgothic_lt_bt';
    line-height:.8;
    color:$red1;
    }//h3
  }//contact 
  
  .contact-divider
    {
      display:inline-block;
      border:none;
      width:6px;
      margin-left:6px;
    }
}//company-info
 
.secondary-menu-item
{
  //@include background($lt-lt-grey); 
  height:100%; //reset
  padding:$default-space-lg+$default-space-md+1;
  margin-bottom:$default-space-sm;
  @media (min-width:$md-sm-screen)//necessary evil BS doesn't give me the BPs i need
    {
      margin-bottom:$default-space-md;
    }
      
  .secondary-menu-item-primary-btn, .secondary-menu-item-secondary-btn
  {
    position: absolute;
    right: 0;
    top: 0;
    height: 265px;
  }
  
  .secondary-menu-item-secondary-btn
  {
    display:none;
    visibility:hidden;
  }
  
  h3
  {
    display: inline-block;
    color:$grey1;
    line-height:1.1;
    font-family:$main-font-bold;
    padding-top: 7px;
    font-size:$p-font-size; 
    font-size:$p-font-size-rem; 
    width: 50%;
    @media (min-width:$sm-screen)//necessary evil BS doesn't give me the BPs i need
    {
      width: 58%;
    }
    @media (min-width:$md-sm-screen)//necessary evil BS doesn't give me the BPs i need
    {
      font-size:$h4-font-size; 
      font-size:$h4-font-size-rem; 
      width: 67%;
    }//min-width 685
    
  }//h3
  
  h4
  {
    
  }
}

.contact-container
{
    li
    {
      float:none;
    }
    
    .form
    {
      padding-top:$default-space-md;
    }
    
    .form-item
    {
      margin-bottom:$default-space-md;
      @include animateAll();
      &:focus
      {
        @include animateAll();
        outline:none;
        @include background(#fff);
        @include box-shadow(rgba(8, 8, 8, .2));
      }
      
    }//form-item
}

.bio-container
{
  
  .bio-name
  {
    font-family:$main-font-bold;
    font-size:$h4-font-size;
    color:$orange1;
    line-height:1;
    display:inline-block;    
  }
  
  .bio-aside
  {
    margin-top:$default-space-md;
  }
}

.more-container
{
  .more-list-item
  {
    margin:$default-space-md $default-space-md 0 0;
    &:last-child
    {
      margin-right:0;
    }
  }
}

.footer-container
{
  padding-left:0; //override normal behavior for full width look
    footer
  {
    
    .footer-header h4, .footer-content p
    {
        //text-align:center;
        margin-left:$default-space-lg;
    }//footer-header h4/footer-content p
    
    .footer-header
    {
      //put margin here for larger screens
      @include background($red1);
      h4
      {
        color:$orange2;
      }
    }//footer-header
    
    .footer-content
    {
      margin:$default-space-lg $default-space-md $default-space-lg 0;
      p
      {
        color:darken($grey1, 10%);
        font-family:$main-font-bold;
        font-size:18px;
        font-size:1.8rem;
      }
    }//footer-content
    
    .legal-contact-social
    {
      @include clearfix;
      clear:both;
      color:$grey4;
      padding-bottom:$default-space-lg;
      margin: $default-space-lg $default-space-md $default-space-lg 0;
      p
      {
        font-family:$secondary-font;
        font-size:11.096px;
        font-size:1.109rem;
        text-align: center;
        
          a
        {
          @include text-link-style($grey4, underline, $grey1, none);
          display:inline-block;
          padding-left:$default-space-md;
        }//a
      }
    }//legal-contact-social
  }//footer
}//.footer-container

