.company-name h1
{
  @media (min-width:825px)//necessary evil d its thang
    {
      font-size:60px;
      font-size:6rem;
      .company-co
      {
        font-size:41px;
        font-size:4.1rem;
      }//company co
    }//media
}//company-name

.company-info
{
  .contact
  {
    h3
    {
       @media (min-width:825px)//necessary evil d its thang
      {
        font-size:17px;
        font-size:1.7rem;
      }
    }
  }//.contact
}//.company-info

.menu-container
{
  position:absolute;
  right:$default-space-lg;
  top:18px;
    @media (min-width:825px)//necessary evil d its thang
      {
          top:23px;
      }
  .menu-button
  {
    cursor:pointer;
    @include animate(color);
    display:box;
    float:left;
    padding:0 $default-space-md;
    border-right:1px solid $orange1;
      &:first-child
      {
        padding-left:0px;
      }
       &:last-child
      {
        border-right:none;
        padding-right:0;
      }
     h3
    {
      font-family:$main-font-bold;
      font-size:15px;
      font-size:1.5rem;
      line-height:1.4;
      white-space: nowrap;
      a
      {
        @include text-link-style($grey5, none, $grey1, none);
      }//a
    }//h3
  }
  
  @media (min-width:$md-lg-screen)//it now floats right
  {
    .menu-button
    {
      h3
      {
        font-family:$main-font-bold;
        font-size:17px;
        font-size:1.7rem;
      }
    }//.menu-button 
  }//@media (min-width:$md-lg-screen)/
}

.secondary-menu-item
{
  .secondary-menu-fg
  {
    &:active > .secondary-menu-item-primary-btn, &:hover > .secondary-menu-item-primary-btn, &:focus > .secondary-menu-item-primary-btn
    {
      @include animateAll();
      right:100%; 
    }
    &:active > .secondary-menu-item-secondary-btn , &:hover > .secondary-menu-item-secondary-btn, &:focus > .secondary-menu-item-secondary-btn
    {
      @include animateAll();
      right:0; 
    }
  }//secondary-fg
  
  .secondary-menu-item-primary-btn, .secondary-menu-item-secondary-btn
  {
    width:100%;
    max-width:100%;
    height:30%;//these two equal out
    top:70%;
    text-align:left;    
    @media (min-width:$md-lg-screen)//necessary evil BS doesn't give me the BPs i need
      {
        height:25%;//these two equal out
        top:75%;
      }
  }
  .secondary-menu-item-primary-btn
  {
    h2
    {
      line-height:2;//this just works
      height:inherit;
      @media (min-width:$md-lg-screen)//necessary evil BS doesn't give me the BPs i need
      {
       line-height:$h4-line-height;//align to center
      }
    }
  }
  .secondary-menu-item-secondary-btn
  {
    display:block;
    visibility:visible;
    white-space:normal;
    right:100%;
    p
    {
      font-size:17px;
      font-size:1.7rem;
      @media (min-width:$md-lg-screen)//necessary evil BS doesn't give me the BPs i need
      {
        font-size:$p-font-size;
        font-size:$p-font-size-rem;
      }
    }
  }
}
