//--------------------
//---SCREEN SIZES-----
//--------------------
$small-screen :32em;
$medium-screen:47em;
$large-screen:75em;

//-------------------
//-----FONTS--------
//-------------------
$main-font:'quicksand-light';
$main-font-bold:'quicksand-regular';
$secondary-font:'bankgothic_lt_md';

//------------------
//------COLORS------
//------------------
$black:#080808;
$dk-grey:#332424;
$md-grey:#543b3b;
$lt-grey:#a1a1a1;
$lt-lt-grey:#ededed;
$white:#fff;
$red:#ee1c24;
$orange:#f99d33;

$alpha-start:.75;
$alpha-end:1;

//-------------------
//----ANIMATIONS-----
//-------------------
$transition-time:.7s;

//-------------------
//---MARGINS/PADS--
//--------------------
$default-space-sm:4px;
$default-space-md:7px;
$default-space-lg:17px;
