@charset "UTF-8";
/* line 5, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*fallback*/
/*52/$rembase*/
/* $line-height-base ÷ 52*/
/* line 11, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'bankgothic_lt_md';
  src: url("../../fonts/bankgothic_md_bt_medium-webfont.eot");
  src: url("../../fonts/bankgothic_md_bt_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/bankgothic_md_bt_medium-webfont.woff2") format("woff2"), url("../../fonts/bankgothic_md_bt_medium-webfont.woff") format("woff"), url("../../fonts/bankgothic_md_bt_medium-webfont.ttf") format("truetype"), url("../../fonts/bankgothic_md_bt_medium-webfont.svg#bankgothic_lt_md") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'bankgothic_lt_bt';
  src: url("../../fonts/bankgothic_lt_bt_light-webfont.eot");
  src: url("../../fonts/bankgothic_lt_bt_light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/bankgothic_lt_bt_light-webfont.woff2") format("woff2"), url("../../fonts/bankgothic_lt_bt_light-webfont.woff") format("woff"), url("../../fonts/bankgothic_lt_bt_light-webfont.ttf") format("truetype"), url("../../fonts/bankgothic_lt_bt_light-webfont.svg#bankgothic_lt_bt") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'quicksand-light';
  src: url("../../fonts/quicksand-light-webfont.eot");
  src: url("../../fonts/quicksand-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/quicksand-light-webfont.woff2") format("woff2"), url("../../fonts/quicksand-light-webfont.woff") format("woff"), url("../../fonts/quicksand-light-webfont.ttf") format("truetype"), url("../../fonts/quicksand-light-webfont.svg#quicksand-light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'quicksand-regular';
  src: url("../../fonts/quicksand-regular-webfont.eot");
  src: url("../../fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../../fonts/quicksand-regular-webfont.woff") format("woff"), url("../../fonts/quicksand-regular-webfont.ttf") format("truetype"), url("../../fonts/quicksand-regular-webfont.svg#quicksand-regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 57, ../components/sass/_atoms.scss */
html {
  font-size: 62.5%; }

/* line 61, ../components/sass/_atoms.scss */
body {
  font-family: "quicksand-regular" !important;
  font-size: 10px;
  /*fallback*/
  font-size: 1.0rem;
  /* 10/$rembase */
  line-height: 1.542;
  /* $line-height-base ÷ $fontbase */
  overflow-x: hidden;
  color: white;
  background: #ededed;
  background: url('../../images/pattern-2cns.png?1415228600'); }

/* line 76, ../components/sass/_atoms.scss */
.container-fluid {
  padding: 0; }

/*
 * $rembase:10px;
 * $line-height-base:33
 */
/* line 89, ../components/sass/_atoms.scss */
h1, h2, h3, h4 {
  text-rendering: optimizeLegibility; }

/* line 93, ../components/sass/_atoms.scss */
h2, h3, h4 {
  font-family: "quicksand-light"; }

/* line 97, ../components/sass/_atoms.scss */
h1 {
  font-size: 52px;
  /*fallback*/
  font-size: 5.2rem;
  /*52/$rembase*/
  line-height: 3.25;
  /* $line-height-base ÷ 52*/ }

/* line 103, ../components/sass/_atoms.scss */
h2 {
  font-size: 47px;
  font-size: 4.7rem;
  line-height: 2.93; }

/* line 109, ../components/sass/_atoms.scss */
h3 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 2; }

/* line 115, ../components/sass/_atoms.scss */
h4 {
  font-size: 29px;
  font-size: 2.9rem;
  line-height: 1.815; }

/* line 121, ../components/sass/_atoms.scss */
p {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25; }

/* line 134, ../components/sass/_atoms.scss */
a, .link {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #080808;
  text-decoration: underline; }
  /* line 29, ../components/sass/_mixins.scss */
  a:hover, a:active, a:focus, .link:hover, .link:active, .link:focus {
    color: #474747;
    text-decoration: none; }
  /* line 137, ../components/sass/_atoms.scss */
  a:active, a:hover, afocus, .link:active, .link:hover, .linkfocus {
    outline: 0; }

/* line 143, ../components/sass/_atoms.scss */
section, nav, article, aside, header, footer {
  overflow: hidden;
  *zoom: 1; }

/* line 148, ../components/sass/_atoms.scss */
nav, article, aside {
  margin-bottom: 17px; }

/* line 153, ../components/sass/_atoms.scss */
section, .main-content, .secondary-menu-item {
  -moz-box-shadow: rgba(8, 8, 8, 0.2) 1px 1px 3px, rgba(8, 8, 8, 0.2) -1px 1px 3px, rgba(8, 8, 8, 0.2) 1px -1px 3px, rgba(8, 8, 8, 0.2) -1px -1px 3px;
  -webkit-box-shadow: rgba(8, 8, 8, 0.2) 1px 1px 3px, rgba(8, 8, 8, 0.2) -1px 1px 3px, rgba(8, 8, 8, 0.2) 1px -1px 3px, rgba(8, 8, 8, 0.2) -1px -1px 3px;
  box-shadow: rgba(8, 8, 8, 0.2) 1px 1px 3px, rgba(8, 8, 8, 0.2) -1px 1px 3px, rgba(8, 8, 8, 0.2) 1px -1px 3px, rgba(8, 8, 8, 0.2) -1px -1px 3px; }

/* line 159, ../components/sass/_atoms.scss */
header {
  font-family: 'bankgothic_lt_md'; }

/* line 164, ../components/sass/_atoms.scss */
nav {
  font-family: "quicksand-regular";
  position: relative;
  /*
  @media (min-width:970px)
  {
    float:right;
    height:26px; //restrict btn border height
    margin-top:$default-space-lg+3;//auto
  }
  */ }

/* line 178, ../components/sass/_atoms.scss */
section {
  background: #ededed;
  margin-top: 17px;
  padding-left: 17px; }

/* line 185, ../components/sass/_atoms.scss */
input, textarea {
  background: #ededed;
  width: 390px;
  max-width: 390px; }

/* line 192, ../components/sass/_atoms.scss */
textarea {
  height: 300px;
  max-height: 300px; }

/* line 198, ../components/sass/_atoms.scss */
figure {
  position: relative;
  overflow: hidden;
  cursor: pointer; }

/* line 205, ../components/sass/_atoms.scss */
figcaption {
  position: absolute;
  bottom: 17px;
  left: 0;
  padding-left: 17px;
  font-size: 17px;
  font-size: 1.7rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  background: rgba(8, 8, 8, 0.6);
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 100%; }

/* line 219, ../components/sass/_atoms.scss */
li {
  position: relative;
  float: left; }

/* line 229, ../components/sass/_atoms.scss */
.emphasize {
  color: #eebc1c; }

/* line 234, ../components/sass/_atoms.scss */
.quotes {
  font-size: 129%;
  font-family: "bankgothic_lt_md"; }

/* line 241, ../components/sass/_atoms.scss */
.contact-required {
  color: #ae9d6b;
  font-size: 11.096px;
  font-size: 1.109rem; }

/* line 248, ../components/sass/_atoms.scss */
.form-item-hint {
  font-size: 12px;
  font-size: 1.2rem;
  color: #ededed;
  padding: 4px;
  background: #ee1c24;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 264, ../components/sass/_atoms.scss */
.btn-caret {
  display: inline-block;
  font-family: "quicksand-light"; }
  /* line 269, ../components/sass/_atoms.scss */
  .btn-caret:after {
    content: ">"; }

/* line 279, ../components/sass/_atoms.scss */
.ng-hide, .ng-show, .ng-enter, .ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all; }

/* line 287, ../components/sass/_atoms.scss */
.ng-hide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* line 292, ../components/sass/_atoms.scss */
.ng-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/* line 297, ../components/sass/_atoms.scss */
#partials.ng-enter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* starting animations for enter */
/* line 302, ../components/sass/_atoms.scss */
#partials.ng-enter.ng-enter-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/* terminal animations for enter */
/* line 4, ../components/sass/_molecules.scss */
.header-nav-container, .footer-container {
  background: rgba(161, 161, 161, 0.7); }

/* line 9, ../components/sass/_molecules.scss */
.header-nav-container {
  height: 60px;
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 17px;
  margin-top: 0;
  z-index: 30; }

/* line 20, ../components/sass/_molecules.scss */
.hero {
  position: relative;
  display: block; }

/* line 26, ../components/sass/_molecules.scss */
.secondary-menu-container, .contact-container, .bio-container, .portfolio-container {
  padding-bottom: 17px;
  position: relative; }

/* line 32, ../components/sass/_molecules.scss */
.contact-container {
  overflow: hidden;
  *zoom: 1;
  color: #080808;
  font-size: 17px;
  font-size: 1.7rem;
  padding-top: 17px;
  margin-top: 85px; }
  @media (min-width: 42.1875em) {
    /* line 32, ../components/sass/_molecules.scss */
    .contact-container {
      font-size: 20px;
      font-size: 2rem; } }

/* line 46, ../components/sass/_molecules.scss */
.bio-container {
  padding-top: 51px; }

/* line 51, ../components/sass/_molecules.scss */
.portfolio-container {
  margin-top: 85px; }

/* line 56, ../components/sass/_molecules.scss */
.portfolio-container, .more-container {
  padding-top: 17px;
  margin-right: 7px; }

/* line 62, ../components/sass/_molecules.scss */
.btn-portfolio-container {
  padding-top: 7px; }

/* line 67, ../components/sass/_molecules.scss */
.more-container {
  min-height: 2px;
  min-width: 2px; }

/* line 76, ../components/sass/_molecules.scss */
.btn {
  -moz-border-radius: 0px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px;
  font-size: 17px;
  font-size: 1.7rem;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out; }

/* line 84, ../components/sass/_molecules.scss */
.btn-primary {
  background: rgba(8, 8, 8, 0.8);
  border: none;
  color: #ededed; }
  /* line 89, ../components/sass/_molecules.scss */
  .btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    background: #080808;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    -webkit-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out; }

/* line 96, ../components/sass/_molecules.scss */
.btn-inactive {
  opacity: .7;
  cursor: default;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out; }

/* line 103, ../components/sass/_molecules.scss */
.secondary-menu-item-primary-btn, .menu-item-cta-btn {
  width: 160px;
  max-width: 160px;
  float: right; }
  @media (min-width: 37.1875em) {
    /* line 103, ../components/sass/_molecules.scss */
    .secondary-menu-item-primary-btn, .menu-item-cta-btn {
      width: 200px;
      max-width: 200px; } }

/* line 115, ../components/sass/_molecules.scss */
.secondary-menu-item-primary-btn {
  height: 100%; }
  /* line 119, ../components/sass/_molecules.scss */
  .secondary-menu-item-primary-btn h2 {
    height: 250px;
    line-height: 250px;
    font-size: 27px;
    font-size: 2.7rem; }
    @media (min-width: 37.1875em) {
      /* line 119, ../components/sass/_molecules.scss */
      .secondary-menu-item-primary-btn h2 {
        font-size: 32px;
        font-size: 3.2rem; } }

/* line 133, ../components/sass/_molecules.scss */
.menu-item-cta-btn, .btn-submit {
  background: #080808;
  border: none; }

/* line 139, ../components/sass/_molecules.scss */
.menu-item-cta-btn {
  margin-top: 11px;
  padding: 7px 0; }
  /* line 143, ../components/sass/_molecules.scss */
  .menu-item-cta-btn:active, .menu-item-cta-btn:hover, .menu-item-cta-btn:focus {
    background: #eebc1c;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    -webkit-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out; }

/* line 152, ../components/sass/_molecules.scss */
.btn-submit:active, .btn-submit:hover, .btn-submit:focus {
  background: #adadad;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out; }

/* line 161, ../components/sass/_molecules.scss */
.btn-portfolio:active, .btn-portfolio:hover, .btn-portfolio:focus {
  color: #fafafa;
  background: #1cafee;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 169, ../components/sass/_molecules.scss */
.active {
  color: #6d6d6d !important; }

/* line 174, ../components/sass/_molecules.scss */
.inactive {
  opacity: .7 !important; }

/* line 179, ../components/sass/_molecules.scss */
.text-content {
  margin-right: 7px; }

/* line 184, ../components/sass/_molecules.scss */
.bio-title, .contact-title, .portfolio-title, .portfolio-more {
  font-family: "quicksand-regular";
  color: #080808;
  line-height: 1;
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
  width: 390px; }

/* line 195, ../components/sass/_molecules.scss */
.portfolio-title {
  margin-left: 17px; }

/* line 200, ../components/sass/_molecules.scss */
.portfolio-description, .portfolio-more {
  margin-top: 7px;
  color: #6d6d6d; }

/* line 208, ../components/sass/_molecules.scss */
.thumb-list .thumb-list-item {
  margin-bottom: 7px; }
  /* line 211, ../components/sass/_molecules.scss */
  .thumb-list .thumb-list-item:last-child {
    margin-bottom: 0; }
  /* line 215, ../components/sass/_molecules.scss */
  .thumb-list .thumb-list-item .thumb-caption {
    font-size: 13px;
    font-size: 1.3rem;
    bottom: 0; }

/* line 226, ../components/sass/_molecules.scss */
.main-fg:hover > .caption, .main-fg:focus > .caption, .main-fg:active > .caption, .thumb-fg:hover > .caption, .thumb-fg:focus > .caption, .thumb-fg:active > .caption, .more-fg:hover > .caption, .more-fg:focus > .caption, .more-fg:active > .caption, .secondary-menu-caption:hover > .caption, .secondary-menu-caption:focus > .caption, .secondary-menu-caption:active > .caption {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: #080808;
  bottom: 0; }

/* line 236, ../components/sass/_molecules.scss */
.thumb-fg:hover > .thumb-caption, .thumb-fg:focus > .thumb-caption, .thumb-fg:active > .thumb-caption {
  bottom: 17px; }

/* line 242, ../components/sass/_molecules.scss */
.more-fg {
  max-width: 100px; }
  /* line 245, ../components/sass/_molecules.scss */
  .more-fg:hover > .caption, .more-fg:focus > .caption, .more-fg:active > .caption {
    color: #fafafa;
    background: #1cafee; }

/* line 252, ../components/sass/_molecules.scss */
.portfolio-more {
  margin-bottom: 0;
  margin: 7px 0; }

/* line 258, ../components/sass/_molecules.scss */
.secondary-menu-caption {
  width: 50%;
  left: 50%;
  bottom: 0;
  height: 100%;
  text-align: center;
  padding-top: 17px; }

/* line 1, ../components/sass/_molecules-lg.scss */
.header-nav-container {
  height: 65px; }
  @media (min-width: 825px) {
    /* line 1, ../components/sass/_molecules-lg.scss */
    .header-nav-container {
      height: 70px; } }

/* line 9, ../components/sass/_molecules-lg.scss */
.hero-container {
  margin: 0;
  padding: 0; }
  /* line 14, ../components/sass/_molecules-lg.scss */
  .hero-container .cta-container {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 15%;
    bottom: 17px;
    width: 280px;
    padding: 7px 17px; }
    @media (min-width: 1170px) {
      /* line 14, ../components/sass/_molecules-lg.scss */
      .hero-container .cta-container {
        width: 310px;
        bottom: 25px; } }
  /* line 29, ../components/sass/_molecules-lg.scss */
  .hero-container h3 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.25;
    padding: 7px 17px 7px 0;
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px; }
  /* line 38, ../components/sass/_molecules-lg.scss */
  .hero-container .menu-item-cta-btn {
    margin-top: 0;
    float: left;
    padding: 4px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px; }
  /* line 48, ../components/sass/_molecules-lg.scss */
  .hero-container .slick-dots {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 50%; }
    /* line 55, ../components/sass/_molecules-lg.scss */
    .hero-container .slick-dots li {
      position: relative;
      display: inline-block;
      width: 7px;
      height: 7px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer; }
      /* line 65, ../components/sass/_molecules-lg.scss */
      .hero-container .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 7px;
        height: 7px;
        padding: 7px;
        border: none;
        opacity: .4;
        background: #adadad;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    /* line 82, ../components/sass/_molecules-lg.scss */
    .hero-container .slick-dots li.slick-active button {
      opacity: 1;
      background: #ee1c24; }

/* line 91, ../components/sass/_molecules-lg.scss */
.bio-container {
  padding-top: 0; }

/* line 1, ../components/sass/_organisms.scss */
.mobile-menu {
  float: none;
  margin-top: 0;
  font-size: 20px;
  font-size: 2rem; }
  /* line 9, ../components/sass/_organisms.scss */
  .mobile-menu .mobile-list-menu .mobile-list-menu-item {
    display: block;
    float: left;
    padding-right: 19px; }
    /* line 14, ../components/sass/_organisms.scss */
    .mobile-menu .mobile-list-menu .mobile-list-menu-item a {
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      color: #6d6d6d;
      text-decoration: none; }
      /* line 29, ../components/sass/_mixins.scss */
      .mobile-menu .mobile-list-menu .mobile-list-menu-item a:hover, .mobile-menu .mobile-list-menu .mobile-list-menu-item a:active, .mobile-menu .mobile-list-menu .mobile-list-menu-item a:focus {
        color: #d4d4d4;
        text-decoration: underline; }

/* line 22, ../components/sass/_organisms.scss */
.company-name h1 {
  color: #ee1c24;
  line-height: .8; }
  /* line 26, ../components/sass/_organisms.scss */
  .company-name h1 a {
    color: inherit;
    text-decoration: none; }
  /* line 31, ../components/sass/_organisms.scss */
  .company-name h1 .company-co {
    color: #080808;
    font-size: 32px;
    font-size: 3.2rem; }

/* line 38, ../components/sass/_organisms.scss */
.company-info {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 7px; }
  /* line 44, ../components/sass/_organisms.scss */
  .company-info .contact {
    float: left;
    padding: 0 6px 0 0; }
    /* line 49, ../components/sass/_organisms.scss */
    .company-info .contact h3 {
      font-size: 13px;
      font-size: 1.3rem;
      font-family: "quicksand-regular";
      line-height: .8;
      color: #332424; }
  /* line 59, ../components/sass/_organisms.scss */
  .company-info .contact-divider {
    display: inline-block;
    border: none;
    width: 6px;
    margin-left: 6px; }

/* line 68, ../components/sass/_organisms.scss */
.secondary-menu-item {
  height: 100%;
  padding: 25px;
  margin-bottom: 4px; }
  @media (min-width: 42.1875em) {
    /* line 68, ../components/sass/_organisms.scss */
    .secondary-menu-item {
      margin-bottom: 7px; } }
  /* line 79, ../components/sass/_organisms.scss */
  .secondary-menu-item .secondary-menu-item-primary-btn, .secondary-menu-item .secondary-menu-item-secondary-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 235px; }
  /* line 87, ../components/sass/_organisms.scss */
  .secondary-menu-item .secondary-menu-item-secondary-btn {
    display: none;
    visibility: hidden; }
  /* line 93, ../components/sass/_organisms.scss */
  .secondary-menu-item h3 {
    display: inline-block;
    color: #6d6d6d;
    line-height: 1.1;
    font-family: "quicksand-regular";
    padding-top: 7px;
    font-size: 20px;
    font-size: 2rem;
    width: 50%; }
    @media (min-width: 37.1875em) {
      /* line 93, ../components/sass/_organisms.scss */
      .secondary-menu-item h3 {
        width: 58%; } }
    @media (min-width: 42.1875em) {
      /* line 93, ../components/sass/_organisms.scss */
      .secondary-menu-item h3 {
        font-size: 29px;
        font-size: 2.9rem;
        width: 67%; } }

/* line 124, ../components/sass/_organisms.scss */
.contact-container li {
  float: none; }
/* line 129, ../components/sass/_organisms.scss */
.contact-container .form {
  padding-top: 7px; }
/* line 134, ../components/sass/_organisms.scss */
.contact-container .form-item {
  margin-bottom: 7px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  /* line 138, ../components/sass/_organisms.scss */
  .contact-container .form-item:focus {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    outline: none;
    background: white;
    -moz-box-shadow: rgba(8, 8, 8, 0.2);
    -webkit-box-shadow: rgba(8, 8, 8, 0.2);
    box-shadow: rgba(8, 8, 8, 0.2); }
/* line 146, ../components/sass/_organisms.scss */
.contact-container .form-item-thanks {
  background: rgba(238, 188, 28, 0.4); }

/* line 155, ../components/sass/_organisms.scss */
.bio-container .bio-name {
  font-family: "quicksand-regular";
  font-size: 29px;
  color: #d47d19;
  line-height: 1;
  display: inline-block; }
/* line 164, ../components/sass/_organisms.scss */
.bio-container .bio-aside {
  margin-top: 7px; }

/* line 172, ../components/sass/_organisms.scss */
.more-container .more-list-item {
  margin: 7px 7px 0 0; }
  /* line 175, ../components/sass/_organisms.scss */
  .more-container .more-list-item:last-child {
    margin-right: 0; }

/* line 182, ../components/sass/_organisms.scss */
.footer-container {
  padding-left: 0; }
  /* line 188, ../components/sass/_organisms.scss */
  .footer-container footer .footer-header h4, .footer-container footer .footer-content p {
    margin-left: 17px; }
  /* line 194, ../components/sass/_organisms.scss */
  .footer-container footer .footer-header {
    background: #332424; }
    /* line 198, ../components/sass/_organisms.scss */
    .footer-container footer .footer-header h4 {
      color: #eebc1c; }
  /* line 204, ../components/sass/_organisms.scss */
  .footer-container footer .footer-content {
    margin: 17px 7px 17px 0; }
    /* line 207, ../components/sass/_organisms.scss */
    .footer-container footer .footer-content p {
      color: #535353;
      font-family: "quicksand-regular";
      font-size: 18px;
      font-size: 1.8rem; }
  /* line 216, ../components/sass/_organisms.scss */
  .footer-container footer .legal-contact-social {
    overflow: hidden;
    *zoom: 1;
    clear: both;
    color: #ededed;
    padding-bottom: 17px;
    margin: 17px 7px 17px 0; }
    /* line 223, ../components/sass/_organisms.scss */
    .footer-container footer .legal-contact-social p {
      font-family: "bankgothic_lt_md";
      font-size: 11.096px;
      font-size: 1.109rem;
      text-align: center; }
      /* line 230, ../components/sass/_organisms.scss */
      .footer-container footer .legal-contact-social p a {
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        color: #ededed;
        text-decoration: underline;
        display: inline-block;
        padding-left: 7px; }
        /* line 29, ../components/sass/_mixins.scss */
        .footer-container footer .legal-contact-social p a:hover, .footer-container footer .legal-contact-social p a:active, .footer-container footer .legal-contact-social p a:focus {
          color: #474747;
          text-decoration: none; }

@media (min-width: 825px) {
  /* line 1, ../components/sass/_organisms-lg.scss */
  .company-name h1 {
    font-size: 60px;
    font-size: 6rem; }
    /* line 7, ../components/sass/_organisms-lg.scss */
    .company-name h1 .company-co {
      font-size: 41px;
      font-size: 4.1rem; } }

@media (min-width: 825px) {
  /* line 19, ../components/sass/_organisms-lg.scss */
  .company-info .contact h3 {
    font-size: 17px;
    font-size: 1.7rem; } }

/* line 30, ../components/sass/_organisms-lg.scss */
.menu-container {
  position: absolute;
  right: 17px;
  top: 18px; }
  @media (min-width: 825px) {
    /* line 30, ../components/sass/_organisms-lg.scss */
    .menu-container {
      top: 23px; } }
  /* line 39, ../components/sass/_organisms-lg.scss */
  .menu-container .menu-button {
    cursor: pointer;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    display: box;
    float: left;
    padding: 0 7px;
    border-right: 1px solid #d47d19; }
    /* line 47, ../components/sass/_organisms-lg.scss */
    .menu-container .menu-button:first-child {
      padding-left: 0px; }
    /* line 51, ../components/sass/_organisms-lg.scss */
    .menu-container .menu-button:last-child {
      border-right: none;
      padding-right: 0; }
    /* line 56, ../components/sass/_organisms-lg.scss */
    .menu-container .menu-button h3 {
      font-family: "quicksand-regular";
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.4;
      white-space: nowrap; }
      /* line 63, ../components/sass/_organisms-lg.scss */
      .menu-container .menu-button h3 a {
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        color: #fafafa;
        text-decoration: none; }
        /* line 29, ../components/sass/_mixins.scss */
        .menu-container .menu-button h3 a:hover, .menu-container .menu-button h3 a:active, .menu-container .menu-button h3 a:focus {
          color: #474747;
          text-decoration: none; }
  @media (min-width: 60.625em) {
    /* line 74, ../components/sass/_organisms-lg.scss */
    .menu-container .menu-button h3 {
      font-family: "quicksand-regular";
      font-size: 17px;
      font-size: 1.7rem; } }

/* line 88, ../components/sass/_organisms-lg.scss */
.secondary-menu-item .secondary-menu-fg:active > .secondary-menu-item-primary-btn, .secondary-menu-item .secondary-menu-fg:hover > .secondary-menu-item-primary-btn, .secondary-menu-item .secondary-menu-fg:focus > .secondary-menu-item-primary-btn {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  right: 100%; }
/* line 93, ../components/sass/_organisms-lg.scss */
.secondary-menu-item .secondary-menu-fg:active > .secondary-menu-item-secondary-btn, .secondary-menu-item .secondary-menu-fg:hover > .secondary-menu-item-secondary-btn, .secondary-menu-item .secondary-menu-fg:focus > .secondary-menu-item-secondary-btn {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  right: 0; }
/* line 100, ../components/sass/_organisms-lg.scss */
.secondary-menu-item .secondary-menu-item-primary-btn, .secondary-menu-item .secondary-menu-item-secondary-btn {
  width: 100%;
  max-width: 100%;
  height: 30%;
  top: 70%;
  text-align: left; }
  @media (min-width: 60.625em) {
    /* line 100, ../components/sass/_organisms-lg.scss */
    .secondary-menu-item .secondary-menu-item-primary-btn, .secondary-menu-item .secondary-menu-item-secondary-btn {
      height: 25%;
      top: 75%; } }
/* line 115, ../components/sass/_organisms-lg.scss */
.secondary-menu-item .secondary-menu-item-primary-btn h2 {
  line-height: 2;
  height: inherit; }
  @media (min-width: 60.625em) {
    /* line 115, ../components/sass/_organisms-lg.scss */
    .secondary-menu-item .secondary-menu-item-primary-btn h2 {
      line-height: 1.815; } }
/* line 125, ../components/sass/_organisms-lg.scss */
.secondary-menu-item .secondary-menu-item-secondary-btn {
  display: block;
  visibility: visible;
  white-space: normal;
  right: 100%; }
  /* line 131, ../components/sass/_organisms-lg.scss */
  .secondary-menu-item .secondary-menu-item-secondary-btn p {
    font-size: 17px;
    font-size: 1.7rem; }
    @media (min-width: 60.625em) {
      /* line 131, ../components/sass/_organisms-lg.scss */
      .secondary-menu-item .secondary-menu-item-secondary-btn p {
        font-size: 20px;
        font-size: 2rem; } }
